* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(146, 56, 56);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: rgb(241, 94, 50);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f7f7f7;
    height: 300px;
}

li {
    margin-top: 10px;
}

footer {
    background-color: rgb(115, 115, 129);
    padding: 10px;
    text-align: center;
    color: white;
}

input,
label {
    font-size: 30px;
}

input {
    display: block;
    border: 2px dashed red;
}
